@use "_variables" as *;

@keyframes scroll {
  0% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(calc((0px - var(--slider-inner-width)) - 5%));
  }
}

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-league-gothic: "League Gothic", sans-serif;
  
  --color-gray-border: #5c5d6d;
  --color-gray-custom: #d9d9de;
  --color-white-custom: #f7f7f8;
  --color-orange-custom: #ff750c;
  --color-gradient-orange: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 30%,
    rgba(255, 117, 12, 0.5) 100%
  );
  --color-gradient-orange-right: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0) 50%,
    rgba(255, 117, 12, 0.5) 100%
  );
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0e0e11;
  color: var(--color-white-custom);
  font-family: var(--font-montserrat) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-league-gothic) !important;
}

header a {
  font-family: var(--font-league-gothic) !important;
}

#main-img-hero {
  background: url("/images/lines-header.png") no-repeat left bottom;
  background-position-x: -120px;
  background-position-y: 155px;
}

div[role="tablist"] {
  justify-content: center;
  gap: 10px;

  .bg-cyan-600[aria-selected="true"] {
    background-color: var(--color-orange-custom) !important;
    font-size: 16px;
    &:focus {
      box-shadow: none !important;
    }
  }

  button[aria-selected="false"] {
    border: 1px solid var(--color-gray-border);
    transition: all ease-in 0.2s;
    font-size: 16px;
    color: #fff;
    &:hover {
      background: rgba(255, 255, 255, 0.3) !important;
      transition: all ease-in 0.2s;
    }
    &:focus {
      box-shadow: none !important;
    }
  }
}

.item-top-episode {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
}

.item-top-episode:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-gradient-orange);
  opacity: 0;
  transition: opacity 0.5s ease-in;
  z-index: -1;
}

.item-top-episode:hover::before {
  opacity: 1;
}

.explore-item {
  position: relative;
  transition: all 0.5s ease-in;
  overflow: hidden;
}

.explore-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-gradient-orange-right);
  opacity: 0;
  transition: opacity 0.5s ease-in;
  z-index: -1;
}

.explore-item:hover::before {
  opacity: 1;
}

.header-shadow {
  height: 1000px;
  margin-top: 155px;
  position: absolute;
}

/*
  ====== slider
  */
.slider {
  --slider-inner-width: 2500px;
  --slider-speed: 10s;
}

.slider {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  animation: scroll linear infinite var(--slider-speed);
  width: calc(2 * var(--slider-inner-width));
  transition: animation-play-state ease 0.3s;

  &:hover {
    animation-play-state: paused;
  }
}

.slider-container {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  height: 100px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider__slide {
  flex-grow: 1;

  &:hover {
    cursor: pointer;
  }
}


.article {
  margin-top: 20px !important;
}
.article,
.article-first {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  .wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-gray-border);
    padding: 15px;
    border-radius: 10px;
    gap: 10px;
    text-align: left;
    .image {
      border-radius:8px;
      width: 100%;
    }
    .title {
      font-size: 30px;
      font-weight: 700;
      line-height: 33px;
    }
    .author {
      font-size: 20px;
      font-weight: 700;
      color: rgba(183, 184, 194, 1);
      .caption {
        font-size: 18px;
        font-weight: 400;
      }
    }
    .date {
      font-size: 18px;
      font-weight: 400;
      color: rgba(183, 184, 194, 1);
    }
  }
}

@media (min-width: 576px) {
  .article {
    .wrapper {
      .title {
        font-size: 40px !important;
        line-height: 43px !important;
      }
    }
  }
}

@media (min-width: 768px) {
  .article,
  .article-first {
    .wrapper {
      position: relative;
      padding-left: 331px !important;
      width: 100%;
      min-height: 238px;
      .image {
        position: absolute;
        top: 20px;
        left: 18px;
        width: 300px;
      }
      .title {
        font-size: 30px !important;
        line-height: 32px !important;
      }
    }
  }
}

@media (min-width: 992px) {
  .article-first {
    position: relative;
    .wrapper {
      margin: auto !important;
      width: 100%;
      padding-left: 383px !important;
      .image {
        position: absolute;
        width: 350px !important;
        left: 20px;
        top: 20px;
      }
      .title {
        font-size: 32px !important;
        line-height: 37px !important;
      }
    }
  }
  .article {
    margin-top: 20px !important;
    flex-wrap: wrap !important;
    .wrapper {
      width: 48.5%;
      gap: 10px !important;
      padding-left: 150px !important;
      min-height: 127px;
      .image {
        position: absolute;
        width: 120px !important;
        left: 20px;
        top: 20px;
      }
      .title {
        font-size: 17px !important;
        line-height: 23px !important;
      }
      .author {
        font-size: 16px !important;
        .caption {
          font-size: 12px !important;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .article-first {
    .wrapper {
      padding-left: 590px !important;
      min-height: 413px !important;
      .image {
        width: 550px !important;
      }
      .title {
        font-size: 53px !important;
        line-height: 58px !important;
      }
    }
  }

  .article {
    gap: 27px !important;
  }
}

@media (min-width: 1200px) {
  .article-first {
    .wrapper {
      padding-left: 536px !important;
      .image {
        width: 500px !important;
      }
      .title {
        font-size: 43px !important;
        line-height: 48px !important;
      }
    }
  }

  .article {
    gap: 28px !important;
    .wrapper {
      width: 31.4% !important;
    }
  }
}

@media (min-width: 1280px){
  .article {
    gap: 30px !important;
    .wrapper {
      width: 31.7% !important;
    }
  }
}

@media (min-width: 1536px){
  .article {
    gap: 29px !important;
    .wrapper {
      width: 32% !important;
    }
  }
}